POSTGRES_DB=netnovel
POSTGRES_USER=netnovel
POSTGRES_PASSWORD=change-me

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/netnovel
SPRING_DATASOURCE_USERNAME=netnovel
SPRING_DATASOURCE_PASSWORD=change-me
SPRING_JPA_HIBERNATE_DDL_AUTO=update

SPRING_RABBITMQ_HOST=localhost
SPRING_RABBITMQ_PORT=5672
SPRING_RABBITMQ_USERNAME=netnovel
SPRING_RABBITMQ_PASSWORD=change-me

APP_CRAWL_RABBIT_EXCHANGE=netnovel.crawl
APP_CRAWL_RABBIT_NOVEL_REQUEST_QUEUE=crawl.novel.request
APP_CRAWL_RABBIT_NOVEL_REQUEST_ROUTING_KEY=crawl.novel.request

# Format: sourceName|domain|JSOUP;sourceName2|domain2|PLAYWRIGHT
APP_CRAWLER_SUPPORTED_SOURCES=

APP_CRAWLER_WUXIAWORLD_TITLE_SELECTOR=h5.mantine-Text-root.mantine-Title-root.mantine-1ra9ysm
APP_CRAWLER_WUXIAWORLD_AUTHOR_SELECTOR=div.mantine-Text-root.mantine-ss2azu
APP_CRAWLER_WUXIAWORLD_DESCRIPTION_SELECTOR=div.mantine-Text-root.mantine-tpna8b
APP_CRAWLER_WUXIAWORLD_TOTAL_CHAPTERS_SELECTOR=div.mantine-Text-root.mantine-19n0k2t
APP_CRAWLER_WUXIAWORLD_CHAPTER_CONTENT_SELECTOR=div#chapterText.mantine-Text-root .mantine-1ekvxsp
